:root {
  font-size: $font-size;
  line-height: $line-height;
  padding: 1em;
}

body {
  display: flex;
  justify-content: center;
  padding-bottom: 10em;

  .body {
    max-width: 840px;
    width: 100%;
  }
}

h1 {
  text-align: center;
}

code {
  font-family: $code-font-family;
}
