.icon-checkbox .label {
  display: flex;
  user-select: none;
  color: black;
  width: 1em;
}

.icon-checkbox.disabled {
  color: #999;
}

.icon-checkbox.disabled * {
  cursor: not-allowed;
}

.icon-checkbox:not(.disabled):hover {
  color: #555;
}

.icon-checkbox input[type="checkbox"] {
  display: none;
}

.icon-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.icon-checkbox input[type="checkbox"]:not(:checked) ~ .checked {
  display: none;
}
