.todo {
  border: var(--todo-border);
  border-radius: var(--todo-radius);
  padding: var(--todo-padding);
  position: relative;
  display: flex;
  gap: 0.5em;
  align-items: flex-start;
}

a.todo {
  text-decoration: none;
  color: inherit;
}

a.todo:hover {
  border-width: 2px;
  padding-left: calc(0.5em - 1px);
  padding-right: calc(0.5em - 1px);
  padding-top: calc(0.25em - 1px);
  padding-bottom: calc(0.25em - 1px);
}

.todo.done {
  background-color: var(--grey);
}

.todo.done > * {
  z-index: 1;
  text-shadow: -1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
}

.todo.loading {
  pointer-events: none;
  opacity: 0.5;
}

.todo.done::before {
  --height: 15px;
  --width: 120%;
  content: "";
  display: block;
  position: absolute;
  height: var(--height);
  width: var(--width);
  background-color: var(--dark-grey);
  z-index: 0;
  top: 12px;
  left: calc(50% - var(--width) / 2);
  pointer-events: none;
  transform: rotate(var(--rotation));
}

.todo.done:hover::before {
  top: 11px;
  --width: calc(120% + 2px);
}

.todo .body {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.todo form {
  width: 100%;
  padding-right: 1em;
}

.todo .button-bar {
  display: flex;
  gap: 8px;
}

.todo input:read-only,
.todo input:read-only:focus {
  margin: 0 0 3px 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: inherit;
  background-color: rgba(0, 0, 0, 0);
}

.todo input:not(:read-only) {
  margin: -3px 0 0 -4px;
}

.todo input {
  font-size: 18px;
  width: 100%;
}
