section.todos {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

section.todos .delete {
  display: flex;
  justify-content: flex-end;
}

section.todos .delete button {
  border-radius: 100%;
  border: 1px solid black;
}
